*{
	font-family: Arial;
    font-size: 11px;
    box-sizing: border-box;
    color: rgb(51,51,51);
    margin: 0;
    padding: 0;
}
body{
	max-width:800px;
	min-width: 80vw;
	margin: 0 auto;
	padding: 0 10px;
}
header{
	background-color: rgb(6, 170,72);
	color: white;
	height: 64px;
	margin-bottom: 10px;
	padding: 20px;
}
header h1{
	font-size: 17px;
    text-align: center;
	color:white;
}
#rounds{
	position: relative;
	overflow:hidden;
}
.btnSlider{
	top: 1px;
    font-size: 25px;
    color: rgb(6, 170,72);
    background-color: white;
    font-weight: 900;
    position: absolute;
    z-index: 10;
}
.backWard{
	left: 0;
}
.forWard{
	right: 0;
}
.table{
	display: grid;
    grid-template-columns: repeat(15, 100%);
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.round h3{
	padding: 10px 20px;
	border-top: 1px solid rgb(6,170,72);
    border-bottom: 1px solid rgb(6,170,72);
    font-size: 14px;
    text-align: center;
}
.hour{
	text-align: center;
    padding-top: 6px;
}
.game{
	display: grid;
    grid-template-columns: 1fr 30px 30px 30px 1fr;
    border-bottom: 1px solid lightgray;
    min-height: 120px;
	font-weight: bold;
}

.game > .home{
	text-align: left;
    font-size: 14px;
    padding-top: 10px;
}
.game > .away{
	text-align: right;
	font-size: 14px;
    padding-top: 10px;
}
.player-list {
	font-size: 9px; 
	color:gray;
}
.goals{
	text-align:center;
}
.press-conference {
	border-bottom: 1px solid lightgray;
	padding: 5px;
}
.x{
	text-align: center;
    padding-top: 7px;
    font-size: 21px;
}

#classification{
	display:grid;
	grid-template-columns: 150px 1fr;
	border-top: 1px solid lightgray;
}

#classification-team{
	border-right: 1px solid gray;
	
}
.pos{
	margin-right: 8px;
}
#classification-team *:not(span),  #classification-data *{
	padding:10px 0;
	border-bottom: 1px solid lightgray;
}

#classification-data{
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		
}
#classification-data > div:nth-child(even){
	background-color: rgb(245,245,245)
	
}
#classification-data > div:nth-child(even), #classification-data > div:nth-child(odd){
	padding: 0;
}
#classification-data h2, #classification-team h2{
	background-color: white;
    color: gray;
    font-weight: 100;
}
#classification-data div:first-child{
	font-weight:bold;
}
#classification-data *{
	text-align:center;
	
}
#classification-team *{
	text-align:left;
}

#toScorerContainer{
	display: flex;
}
.gui-text-section-title {
    font-size: 24px;
    font-family: opensans,"Helvetica Neue",Arial,sans-serif;
    font-weight: bold;
    color: #333;
    letter-spacing: -0.04em;
    text-transform: uppercase;
	margin: 10px 0;
}
.ranking-header {
    display: flex;
    align-items: center;
    height: 40px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ddd;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
	
}
.ranking-headerGols {
    margin-left: auto;
    padding-right: 20px;
}
.artilharia-wrapper .ranking-content {
    box-sizing: content-box;
    overflow: auto;
    height: 430px;
    border-bottom: 1px solid #ddd;
}
.artilharia-wrapper .ranking-item-wrapper {
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
}
.ranking-item {
    width: 30px;
    color: #999;
    font-family: opensans,arial,sans-serif;
    font-size: 28px;
}
.jogador {
    display: flex;
    align-items: center;
    width: 100%;
    height: 78px;
}
.jogador-foto {
    border-radius: 50px;
    background-color: #F1F1F1;
    display: block;
    height: 50px;
    overflow: hidden;
    width: 50px;
}
.jogador-info {
    margin-left: 14px;
}
.jogador-nome {
    color: #333;
    font-size: 20px;
    letter-spacing: -1px;
}
.jogador-posicao {
    color: #999;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3px;
}
.jogador-gols {
    margin-left: auto;
    padding-right: 20px;
    color: #333;
    font-family: 'opensans-bold',arial,sans-serif;
    font-size: 26px;
}
.news{
	background-color: rgb(238,238,238);
}
